.title,h3,#tiles{
    text-align: center;
}

#tiles13 {
    margin-left: 15px;
}

body{
    background-color: #006400;
    color:white;

}

#btn {
    position: absolute;
    border: 3px solid #000;
    border-radius: 0;
    background: #fff;
    width: 100px;
    height: 40px;
    left: 80%;
}

#result_table{
    margin: auto;
    font-size: 25px;
    border-spacing: 80px;
    text-align: center;
  }